<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../assets/logoBanzai.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Car Rental
    </a>
    <span>{{nombre}}</span>
    <span>{{today | date:'fullDate'}}</span>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright: Esequiel Morales
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->